body {
    background: rgb(245, 245, 241); /* Цвет фона */
}

/* base.html */
/* Создание горизонтальной прокрутки */
.testimonial-group > .row {
overflow-x: auto;
white-space: nowrap;
}
.testimonial-group > .row > .col-sm-4 {
display: inline-block;
float: none;
}

/* index.html */
.card {
    margin-bottom: 15px; /* добавляет расстояние между карточками */
}

.card-body {
    padding-top: 10px; /* убирает отступ от границы в карточке */
}

