{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container testimonial-group">
    <div class="row text-center">
        <div class="row flex-nowrap">
            {% for day, lesson_by_day in lessons.items %}
                <div class="col" style="min-width: 140px; padding: 0;">
                    <h5 style="margin-bottom: 0rem">{{day|date:"l"}}</h5>
                    <p>{{day|date:"j E"}}</p>
                    
                    {% for lesson in lesson_by_day %}
                    <div class="card" style="width: 100px; margin: 10px auto;">
                        {% if request.user.is_staff %}
                        <!-- Link is a modal trigger -->
                        <a href="#" class="thumbnail" data-bs-toggle="modal" data-bs-target="#M_lesson_{{lesson.pk}}">
                        {% endif %}
                            {% if request.user == lesson.student %}
                            <div class="card-body" style="background-color: rgb(167, 255, 226); padding: 10px">
                            {% else %}
                            <div class="card-body" style="padding: 10px">
                            {% endif %}
                                <div class="row justify-content-center">
                                    <h6 style="margin-bottom: 0%;">
                                        {{lesson.time|date:"G:i"}}
                                    </h6>
                                </div>
                            </div>
                        {% if request.user.is_staff %}
                        </a>
                        {% endif %}
                    </div>
                    {% if request.user.is_staff %}
                    {% include "lessons_app/inc/_lesson_modal.html" %}
                    {% endif %}
                    {% endfor %}
                    
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="d-none d-sm-none d-md-block">
    <p style="color: #9a9ea3;">{% translate "Horizontal scrolling is possible with the wheel and the Shift key pressed" %}</p>
</div>
{% endblock content %}
