{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h3 style="margin-bottom: 15px;">{% translate 'About me' %}</h3>
<div class="row">
    <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block">
        <div style="overflow: hodden">
            <img src="{% static 'img/photo.jpg' %}" alt="photo" style="margin-right: 40px; margin-bottom: 20px; float: left; background-size: cover;" align="left">
        </div>
        
        <div>
            <h4>Добрый день!</h4>
            <p> 
                Я Тепляков Сергей (25 лет) - репетитор по программированию. Обучаю работе с объектно-ориентированным языком <nobr>Python 3</nobr>.
                Провел более <nobr>2 000</nobr> уроков, обучая людей всех возрастов. Готов помочь Вам в решении конкретной задачи или провести обучающий урок по моим материалам.
            </p>
            <p>
                <h5>Профессиональные достижения</h5>
                <ul style="margin-left: 600px;">
                    <li>
                        Имею звание магистра информационных систем и технологий (тема диссертации: “мониторинг и прогнозирование георисков”). 
                        Программный продукт был написан на Python, JS c применением технологии WebSocket
                    </li>
                    <li>Завершил курс для программистов от университета ITMO</li>
                    <li>Получил патент на программу для ЭВМ (применение теории графов и нейронных сетей для планирования путешествий)</li>
                    <li>Имею публикации в международных сборниках</li>
                    <li>Создал множество парсеров, чат-ботов, нейронных сетей</li>
                    <li>Опыт преподавательской деятельности в вузе (Политехнический университет СПб)</li>
                </ul>
            </p>
            <p>
                <h5>Построение урока</h5>
                На каждое занятие мною будет составлен план урока и презентация. Соотношение теории и практики установливается по Вашему желанию. 
                Если Вы хотите больше практики: написание кода, разбора примеров и так далее, то я только за.
            </p>
            <p>
                <h5>Оплата</h5>
                Оплата по номеру телефона (Тинькофф, Сбер).
                Стоимость урока - <nobr>1 000</nobr> руб. Рано утром <nobr>(до 10:00)</nobr> и поздно вечером <nobr>(после 21:00)</nobr> стоимость повышенная - <nobr>1 300</nobr> руб.
            </p>
            <div class="d-none d-sm-none d-md-none d-lg-none d-xl-none d-xxl-block">
                <p>
                    <h5>Контакты</h5>
                    <ul style="margin-left: 600px;">
                        <li>Номер телефона +7 (952) 220-16-75</li>
                        <li>Объявление на Авито - <a href="https://www.avito.ru/sankt-peterburg/predlozheniya_uslug/uroki_programmirovaniya_na_python_1995818463">Ссылка</a></li>
                        <li>Telegram - <a href="https://t.me/spacepython">@SpacePython</a></li>
                        <li>Discord - <a href="https://discord.com/channels/@me">teplyakovsergey#3111</a></li>
                        <li>Skype - <a href="#">live:a85c3477a38624c3</a></li>
                    </ul>
                </p>
            </div>
            
            
        </div>
    </div>
    <div class="d-none d-sm-none d-md-none d-lg-none d-xl-block d-xxl-none">
        <p>
            <h5>Контакты</h5>
            <ul>
                <li>Номер телефона +7 (952) 220-16-75</li>
                <li>Объявление на Авито - <a href="https://www.avito.ru/sankt-peterburg/predlozheniya_uslug/uroki_programmirovaniya_na_python_1995818463">Ссылка</a></li>
                <li>Telegram - <a href="https://t.me/spacepython">@SpacePython</a></li>
                <li>Discord - <a href="https://discord.com/channels/@me">teplyakovsergey#3111</a></li>
                <li>Skype - <a href="https://join.skype.com/EFN0gb6LOjPS">live:a85c3477a38624c3</a></li>
            </ul>
        </p>
    </div>
    <div class="d-block d-sm-block d-md-block d-lg-block d-xl-none">
        <div style="text-align: center;">
            <img src="{% static 'img/photo.jpg' %}" alt="photo" style="min-width: 150px; max-width: 500px; height: auto; margin-bottom: 20px; background-size: cover;">
        </div>
        <div>
            <h4>Добрый день!</h4>
            <p> 
                Я Тепляков Сергей (25 лет) - репетитор по программированию. Обучаю работе с объектно-ориентированным языком <nobr>Python 3</nobr>.
                Провел более <nobr>2 000</nobr> уроков, обучая людей всех возрастов. Готов помочь Вам в решении конкретной задачи или провести обучающий урок по моим материалам.
            </p>
            <p>
                <h5>Профессиональные достижения</h5>
                <ul>
                    <li>
                        Имею звание магистра информационных систем и технологий (тема диссертации: “мониторинг и прогнозирование георисков”). 
                        Программный продукт был написан на Python, JS c применением технологии WebSocket
                    </li>
                    <li>Завершение курса для программистов университета ITMO</li>
                    <li>Получил патент на программу для ЭВМ (применение теории графов и нейронных сетей для планирования путешествий)</li>
                    <li>Имею публикации в международных сборниках</li>
                    <li>Создал множество парсеров, чат-ботов, нейронных сетей</li>
                    <li>Опыт преподавательской деятельности в вузе (Политехнический университет СПб)</li>
                </ul>
            </p>
            <p>
                <h5>Построение урока</h5>
                На каждое занятие мною будет составлен план урока и презентация. Соотношение теории и практики установливается по Вашему желанию. 
                Если Вы хотите больше практики: написание кода, разбора примеров и так далее, то я только за.
            </p>
            <p>
                <h5>Оплата</h5>
                Оплата по номеру телефона (Тинькофф, Сбер).<br>
                Стоимость урока - <nobr>1 000</nobr> руб. Рано утром <nobr>(до 10:00)</nobr> и поздно вечером <nobr>(после 21:00)</nobr> стоимость повышенная - <nobr>1 300</nobr> руб.
            </p>
            <p>
                <h5>Контакты</h5>
                <ul>
                    <li>Номер телефона +7 (952) 220-16-75</li>
                    <li>Объявление на Авито - <a href="https://www.avito.ru/sankt-peterburg/predlozheniya_uslug/uroki_programmirovaniya_na_python_1995818463">Ссылка</a></li>
                    <li>Telegram - <a href="https://t.me/spacepython">@SpacePython</a></li>
                    <li>Discord - <a href="https://discord.com/channels/@me">teplyakovsergey#3111</a></li>
                    <li>Skype - <a href="#">live:a85c3477a38624c3</a></li>
                </ul>
            </p>
            
        </div>
    </div>
</div>
{% endblock content %}
