{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h3 style="margin-bottom: 15px;">{% translate 'About me' %}</h3>
<div class="row">
    <div class="d-none d-sm-none d-md-none d-lg-block">
        <div style="overflow: hodden">
            <img src="{% static 'img/photo.jpg' %}" alt="photo" style="min-width: 150px; max-width: 100%; height:auto; margin-right: 40px; margin-bottom: 20px; float: left; background-size: cover;" align="left">
        </div>
        
        <div>
            <h4>Добрый день!</h4>
            <p> 
                Я Тепляков Сергей (25 лет) - репетитор по программировани. Обучаю работе с объектно-ориентированным языком Python 3. 
                Защитил магистерскую диссератцию в {каком-то универе}. 
                Занимаюсь преподавательской деятельностью <b>2 года</b> (в том числе в качестве преподавателя в вузе). 
                Провел более <b><nobr>1 000 уроков</nobr></b>, обучая людей всех возрастов. 
                Готов помочь Вам в решении конкретной задачи или провести обучающий урок по моим материалам.
            </p>
            <p>
                <h5>Основные темы:</h5>
                штук 10-15 тем
            </p>
            <p>
                <h5>Контакты:</h5>
                <ul>
                    <li>Номер телефона - 8 963 123 45 67</li>
                    <li>Объявление на Авито - <a href="#">Ссылка</a></li>
                    <li>Telegram - <a href="#">Ссылка</a></li>
                    <li>WhatsApp - <a href="#">Ссылка</a></li>
                    <li>Discord - <a href="#">Сылка</a></li>
                    <li>Skype - <a href="#">Ссылка</a></li>
                </ul>
            </p>
            <p>
                <h5>Оплата</h5>
                Оплата по номеру телефона; может быть произведена как до, так и после урока.
                Стоимость урока - <nobr>1 000</nobr> руб. Рано утром (до 10:00) и поздно вечером (после 21:00) стоимость повышенная - <nobr>1 300</nobr> руб.
            </p>
        </div>
    </div>
    <div class="d-block d-sm-block d-md-block d-lg-none">
        <img src="{% static 'img/photo.jpg' %}" alt="photo" style="min-width: 150px; max-width: 500px; height: auto; margin-bottom: 20px; background-size: cover;">
        <div>
            <h4>Добрый день!</h4>
            <p> 
                Я Тепляков Сергей (25 лет) - репетитор по программировани. Обучаю работе с объектно-ориентированным языком Python 3. 
                Защитил магистерскую диссератцию в {каком-то универе}. 
                Занимаюсь преподавательской деятельностью <b>2 года</b> (в том числе в качестве преподавателя в вузе). 
                Провел более <b><nobr>1 000 уроков</nobr></b>, обучая людей всех возрастов. 
                Готов помочь Вам в решении конкретной задачи или провести обучающий урок по моим материалам.
            </p>
            <p>
                <h5>Основные темы:</h5>
                штук 10-15 тем
            </p>
            <p>
                <h5>Контакты:</h5>
                <ul>
                    <li>Номер телефона - 8 963 123 45 67</li>
                    <li>Объявление на Авито - <a href="#">Ссылка</a></li>
                    <li>Telegram - <a href="#">Ссылка</a></li>
                    <li>WhatsApp - <a href="#">Ссылка</a></li>
                    <li>Discord - <a href="#">Сылка</a></li>
                    <li>Skype - <a href="#">Ссылка</a></li>
                </ul>
            </p>
            <p>
                <h5>Оплата</h5>
                Оплата по номеру телефона; может быть произведена как до, так и после урока.
                Стоимость урока - <nobr>1 000</nobr> руб. Рано утром (до 10:00) и поздно вечером (после 21:00) стоимость повышенная - <nobr>1 300</nobr> руб.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
