{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h3>{% translate "My lessons" %}</h3>
<div class="container">
    <div class="row">
        <div class="col-2" style="min-width: 200px; padding-top: 20px;">
            <p>{% translate "Name" %}: {{ request.user.first_name }}</p>
            {% if request.user.details.phone %}
            <p>{% translate "Phone" %}: {{ request.user.details.phone }}</p>
            {% endif %}
            {% if request.user.details.telegram %}
            <p>{% translate "Telegram" %}: {{ request.user.details.telegram }}</p>
            {% endif %}
            <p><a href="#" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#M_change_password" style="width: 160px;">{% translate "Change password" %}</a></p>
        </div>
        <div class="col">
            <div class="container testimonial-group">
                <div class="row justify-content-center">
                    <div class="table" style="max-width: 900px;">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th style="width: 5%; text-align: center; min-width: 60px;" ><h5>Id</h5></th>
                                    <th style="width: 15%; text-align: center; min-width: 130px;" ><h5>{% translate "Date" %}</h5></th>
                                    <th style="width: 15%; text-align: center; min-width: 100px;" ><h5>{% translate "Time" %}</h5></th>
                                    <th style="width: 10%; text-align: center; min-width: 70px;" ><h5>{% translate "Cost" %}</h5></th>
                                    <th style="width: 10%; min-width: 100px;" ></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lesson in lessons %}
                                <tr>
                                    <th style="vertical-align: middle; text-align: center;">
                                        {{ lesson.id }}
                                    </th>
                                    <th style="vertical-align: middle; text-align: center;">
                                        {{ lesson.date|date:"j b, D" }}
                                    </th>
                                    <th style="vertical-align: middle; text-align: center;">
                                        {{ lesson.time|date:"G:i" }}
                                    </th>
                                    <th style="vertical-align: middle; text-align: center;">
                                        {{ lesson.salary }} ₽
                                    </th>
                                    <th style="vertical-align: middle; text-align: center;">
                                        <form id="delete_{{ lesson.pk }}" action="{% url 'del_lesson_url' lesson.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-danger btn-block' style="padding: 6px 12px 6px 6px; width: 100%; width: 50px; padding: 6px 0px;">
                                                <img src="{% static 'img/white-cross.png' %}" alt="delete" width="20px">
                                            </button>
                                        </form>
                                    </th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="M_change_password" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="margin-bottom: 0;">{% translate "Password change" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <p style="margin-bottom: 0;">{% translate "Enter a new password" %}</p>
                    <input class="form-control" type="text" name="new_password" required>
                    <div class="row justify-content-center">
                    <p style="margin-top: 15px; width: 184px;">
                        <button type='submit' class='btn btn-primary btn-block' style="width: 160px;">{% translate "Change password" %}</button>
                    </p>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}
