{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col-2" style="min-width: 200px;">
                {% include 'lessons_app/management/inc/_sidebar_menu.html' %}
            </div>
            <div class="col" style="padding-left: 50px;">
                <h3>{% translate "Lessons info" %}</h3>
                <b>Ожидает модерации</b> <br> <br>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
