{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col-2" style="min-width: 200px;">
                {% include 'lessons_app/management/inc/_sidebar_menu.html' %}
            </div>
            <div class="col" style="padding-left: 50px;">
                <h3>{% translate "Student details" %}</h3>
                
                <div class="row">
                    <div class="col">
                        {% include "lessons_app/management/inc/_student_update_form.html" %}
                    </div>
                    <div class="col">
                        {% include "lessons_app/management/inc/_student_lessons.html" %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
    {% include 'lessons_app/management/inc/_string_menu.html' %}
    <h3>{% translate "Student details" %}</h3>
    {% include "lessons_app/management/inc/_student_update_form.html" %}
    {% include "lessons_app/management/inc/_student_lessons.html" %}
</div>

<div class="modal fade" id="M_change_password" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="margin-bottom: 0;">{% translate "Password change" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <p style="margin-bottom: 0;">{% translate "Enter a new password" %}</p>
                    <input class="form-control" type="text" name="new_password" required>
                    <div class="row justify-content-center">
                    <p style="margin-top: 15px; width: 184px;">
                        <button type='submit' class='btn btn-primary btn-block' style="width: 160px;">{% translate "Change password" %}</button>
                    </p>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}
